
#brand span.ui-btn-inner {padding-top: 23px !important;}
#support_icon .ui-icon {background:  url(/assets/icons_glyphish/white/09-chat-2.png) 50% 50% no-repeat;}
#user_icon .ui-icon {background:  url(/assets/icons_glyphish/white/111-user.png) 50% 50% no-repeat;}
#cart_icon .ui-icon {background:  url(/assets/icons_glyphish/white/80-shopping-cart.png) 50% 50% no-repeat;}

/* the text in button for delivery_type */
.button-glyphish .ui-btn .ui-btn-inner {
  width: 60px;
  padding-top: 10px !important;
}

/* the image in button for delivery_type */
.button-glyphish .ui-btn .ui-icon {
  width: 30px!important;
  height: 20px!important;
  box-shadow: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

ul#index_ul {
  li {
    a {
      padding-left: 170px;
      height: 140px;

      h3 {
        font-size: 15px;
      }

      img {
        left: 1px;
        max-height: 160px;
        max-width: 160px;
        position: absolute;
        top: 0;
      }
    }
  }
}