
#brand span.ui-btn-inner {padding-top: 23px !important;}
#support_icon .ui-icon {background:  url(/assets/icons_glyphish/white/09-chat-2.png) 50% 50% no-repeat;}
#user_icon .ui-icon {background:  url(/assets/icons_glyphish/white/111-user.png) 50% 50% no-repeat;}
#cart_icon .ui-icon {background:  url(/assets/icons_glyphish/white/80-shopping-cart.png) 50% 50% no-repeat;}

/* the text in button for delivery_type */
.button-glyphish .ui-btn .ui-btn-inner {
  width: 60px;
  padding-top: 10px !important;
}

/* the image in button for delivery_type */
.button-glyphish .ui-btn .ui-icon {
  width: 30px!important;
  height: 20px!important;
  box-shadow: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

ul#index_ul {
  li {
    a {
      padding-left: 150px;
      height: 120px;

      h3 {
        font-size: 15px;
      }

      img {
        left: 1px;
        max-height: 140px;
        max-width: 140px;
        position: absolute;
        top: 0;
      }
    }
  }
}

/* Restaurant Google Page */
.hub {
  .services_icons_wrap {
    position: relative;

    .services_icons {
      position: absolute;
      right: 0px;
      top: 5px;

      p.services_icon {
        width: 60px;
        height: 20px;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        line-height: 20px;
        margin: 3px;
        text-align: center;

        a {
          font-style: italic;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

/* Store Overview Gallery */
.gallery {
  list-style: none;
  padding: 0;
  margin: 0;

  .gallery_photo_wrap {
    display: inline-block;
    width: 49%;

    a {
      display: block;
      margin: 0px;
      border: 1px solid #3c3c3c;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
