/* Background image */
.ui-page {
  background: #000000 url(/assets/bg_v1_m.jpg) repeat;
  background-attachment:fixed;
}

/* the text in nav */
.nav-glyphish .ui-btn .ui-btn-inner {
  padding-top: 40px !important;
}

/* the image in nav */
.nav-glyphish .ui-btn .ui-icon {
  width: 30px!important;
  height: 30px!important;
  margin-left: -15px !important;
  box-shadow: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

#chat .ui-icon {background:  url(/assets/glyphish-icons/09-chat-2.png) 50% 50% no-repeat;}
#user .ui-icon {background:  url(/assets/glyphish-icons/111-user.png) 50% 50% no-repeat;}
#skull .ui-icon {background:  url(/assets/glyphish-icons/80-shopping-cart.png) 50% 50% no-repeat;}

/* the text in button for delivery_type */
.button-glyphish .ui-btn .ui-btn-inner {
  width: 60px;
  padding-top: 10px !important;
}

/* the image in button for delivery_type */
.button-glyphish .ui-btn .ui-icon {
  width: 30px!important;
  height: 20px!important;
  box-shadow: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}

ul#index_ul {
  li {
    a {
      padding-left: 170px;
      height: 140px;

      h3 {
        font-size: 15px;
      }

      img {
        left: 1px;
        max-height: 160px;
        max-width: 160px;
        position: absolute;
        top: 0;
      }
    }
  }
}