<div data-role="footer">
  <div  data-role="navbar">
    <ul>
      <li><%= link_to 'Home', home_index_path, :data => { :icon => 'home' } %></li>
      <li><%= link_to 'Desktop', { :mobile => 0 }, :data => { :icon => 'grid' }, :rel => "external" %></li>
      <li><%= link_to 'Stores', home_stores_path, :data => { :icon => 'info' } %></li>
    </ul>
  </div>
</div><!-- /footer -->