<div data-role="header" data-position="fixed">
  <style>
      .nav-glyphish-example .ui-btn .ui-btn-inner {padding-top: 40px !important;}
      .nav-glyphish-example .ui-btn .ui-icon {
          width: 30px!important;
          height: 30px!important;
          margin-left: -15px !important;
          box-shadow: none!important;
          -moz-box-shadow: none!important;
          -webkit-box-shadow: none!important;
          -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
      }
      #chat .ui-icon {background:  url(/assets/glyphish-icons/09-chat-2.png) 50% 50% no-repeat;}
      #user .ui-icon {background:  url(/assets/glyphish-icons/111-user.png) 50% 50% no-repeat;}
      #skull .ui-icon {background:  url(/assets/glyphish-icons/80-shopping-cart.png) 50% 50% no-repeat;}
      #home {color: #ff0000;}
  </style>

  <div data-role="navbar" class="nav-glyphish-example" data-grid="c">
    <ul>
      <li style="width:40%">
        <%= link_to home_index_path, id: 'home' do %>
            <i>Meals4.Me</i>
        <% end %>
      </li>
      <li style="width:20%"><a href="#" id="chat" data-icon="custom">Chat</a></li>
      <li style="width:20%">
        <% unless user_signed_in? %>
            <%= link_to 'User', new_user_session_path, data: {icon: 'custom'}, id: 'user' %>
        <% else %>
            <%= link_to 'User', destroy_user_session_path, method: 'delete', data: {icon: 'custom'}, id: 'user' %>
        <% end %>
      </li>
      <li style="width:20%"><a href="#" id="skull" data-icon="custom">Cart</a></li>
    </ul>
  </div>

  <div class="cart">
    <%= render @cart if @cart %>
  </div>
</div><!-- /header -->