<div data-role="header" data-position="fixed">
  <%= link_to 'Home', home_index_path, :rel => "external", :data => { :icon => 'arrow-l' } %>
  <h1>Store List Page Header</h1>
  <%= link_to 'Other', home_stores_path, :rel => "external", :data => { :icon => 'arrow-r'} %>
</div><!-- /header -->