<div data-role="header" data-position="fixed">
  <%= link_to 'Home', home_index_path, :rel => "external", :data => { :icon => 'arrow-l' } %>
  <h1>Meals4.Me</h1>
  <%= link_to 'Stores', home_stores_path, :rel => "external", :data => { :icon => 'arrow-r'} %>

  <div id="cart">
    <%= render @cart %>
  </div>
</div><!-- /header -->