<h3><%= @store.name %> - <%= @store.name %></h3>

<div class="ui-grid-a" id="restau_infos">
  <div class="ui-block-a">
    <p><%= image_tag @store.image_url(:small).to_s, :width => '100%' %></p>
  </div>
  <div class="ui-block-b">
    <a href="#page1" data-role="button" data-mini="true">What's Good</a>
    <a href="#page2" data-role="button" data-mini="true">Full Menu</a>
    <a href="#page3" data-role="button" data-mini="true">Store Info</a>
    <a href="#page4" data-role="button" data-mini="true">Store Reviews</a>
  </div>
</div><!-- /grid-a -->

<br/>