<% content_for :north do %>
    <div data-role="header">
      <%= link_to 'Home', home_index_path, :rel => "external", :data => { :icon => 'arrow-l' } %>
      <h1>Store List Page Header</h1>
      <%= link_to 'Other', home_stores_path, :rel => "external", :data => { :icon => 'arrow-r'} %>
    </div><!-- /header -->
<% end %>

<div data-role="content">
  <ul data-role="listview" data-inset="true" data-filter="true">
    <% @coupons.each do |coupon| %>
        <li>
          <%= image_tag coupon.image_url(:micro).to_s %>
          <%= link_to coupon.name %>
        </li>
    <% end %>
  </ul>
</div><!-- /content -->