<div data-role="page" id="page1" data-theme="e">
  <%= render 'header' %>

  <div data-role="content">
    <ul data-role="listview" data-inset="true" data-filter="true">
      <% @stores.each do |store| %>
          <li>
            <%= link_to (image_tag store.image_url(:small).to_s) + store.name, home_store_path(store),
                        :rel => "external", :data => { :transition => 'slidedown'}  %>
          </li>
      <% end %>
    </ul>
  </div><!-- /content -->

  <%= render 'footer' %>
</div><!-- /page -->