<% content_for :north do %>
    <div data-role="header">
      <%= link_to 'Home', home_index_path, :rel => "external", :data => { :icon => 'arrow-l' } %>
      <h1>Store List Page Header</h1>
      <%= link_to 'Other', home_stores_path, :rel => "external", :data => { :icon => 'arrow-r'} %>
    </div><!-- /header -->
<% end %>

<div data-role="content">
  <ul data-role="listview" data-inset="true" data-filter="true">
    <li><a href="#page1">Acura</a></li>
    <li><a href="#page2">Audi</a></li>
    <li><a href="#page3">BMW</a></li>
  </ul>

  <form>
    <label for="slider-0">Input slider:</label>
    <input type="range" name="slider" id="slider-2" value="25" min="0" max="100"  />
  </form>

  <a href="#" data-role="button" data-icon="star" data-theme="a">Star button</a>
  <a href="#" data-role="button" data-icon="star" data-theme="b">Star button</a>
  <a href="#" data-role="button" data-icon="star" data-theme="c">Star button</a>
  <a href="#" data-role="button" data-icon="star" data-theme="d">Star button</a>
  <a href="#" data-role="button" data-icon="star" data-theme="e">Star button</a>
</div><!-- /content -->
