<div class="row-fluid">
  <div class="span8 well">
    <%= render 'form' %>
  </div>

  <div class="span4">
    <div class="well">
      <div id="cart"><%= render @cart %></div>
      <div id="modal_wrap"></div>
    </div>
  </div>
</div><!--/row-->