<div class="row">
  <div class="span8">
    <div class="well">
      <h4>Your order has been taken. Thank you for ordering with us.</h4>
      <h4>The estimated delivery time is 60 minutes. </h4>
      <br/>
      <%= link_to 'Back to restaurant list', home_stores_path, :class => 'btn btn-primary'  %>
      <%= link_to 'I want some grocery', home_grocery_path, :class => 'btn btn-info'  %>
    </div>
  </div>

  <div class="span4">
    <div class="well">
      <h4>Your order has been taken. Thank you for ordering with us.</h4>
      <h4>The estimated delivery time is 60 minutes. </h4>
      <br/>
      <%= link_to 'Back to restaurant list', home_stores_path, :class => 'btn btn-primary'  %>
      <%= link_to 'I want some grocery', home_grocery_path, :class => 'btn btn-info'  %>
    </div>
  </div>
</div>

