// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart {
  ul {
    margin: 0px;

    li {
      list-style: none;

      span.left75 {float: left;width: 75%;}
      span.right20 {float:right;width: 20%;}
      a {display: inline-block;text-decoration: none;@include rounded-corners(4px);}
    }

    li.cart_header {
      a {
        color: $gray;
        background: $white;
        box-shadow: inset 0px 1px 2px $grayLight, 0px 1px 0px $white;

        width: 30%;
        height: 30px;
        margin-bottom: 5px;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
      }

      a.active {
        color: #ffffff;
        background: $orange;
        box-shadow: inset 0px 1px 2px $purple, 0px 1px 0px $white;
      }
    }

    li.cart_body {
      span.cart_item_special {
        color: $blue_mfm;
        font-style: italic;
      }

      a {
        color: $grayDark;
        background: $white;

        width: 97%;
        height: 40px;
        margin-bottom: 5px;
        padding: 0px 5px;
        border: 1px solid $orange;
      }

      a:hover {
        color: $white;
        background-color: $orange;
      }
    }

    li.cart_coupon {
      form {
        margin: 0px 0px 5px 0px;

        input {
          width: 90px;
          margin-bottom: 0px;
        }
      }

    }

    li.cart_footer {
      color: $blue_mfm;
      line-height: 20px;
      height: 20px;

      span.left75 {
        text-align: right;
        font-weight: bold;
      }
    }
  }
}
