// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cart {
  ul {
    margin: 0px;

    li {
      list-style: none;

      span.left75 {
        float: left;width: 75%;
      }

      span.right20 {
        float:right;width: 20%;
      }

      a {
        display: inline-block;
        text-decoration: none;

        -webkit-border-radius: 4px 4px 4px 4px;
        -moz-border-radius: 4px 4px 4px 4px;
        -ms-border-radius: 4px 4px 4px 4px;
        -o-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
      }
    }

    li.cart_header {
      a {
        color: #777777;
        background: #ffffff;
        box-shadow: inset 0px 1px 2px #DFCEB1, 0px 1px 0px white;

        width: 30%;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
      }

      a.active {
        color: #ffffff;
        background: #f89406;
        box-shadow: inset 0px 1px 2px #BC5619, 0px 1px 0px white;
      }
    }

    li.cart_body {
      span.cart_item_special {
        color: #0088cc;
        font-style: italic;
      }

      a {
        color: #333333;
        background: #ffffff;

        width: 97%;
        height: 40px;
        margin: 5px 0px;
        padding: 5px;
        border: 1px solid #f89406;
      }

      a:hover {
        color: #ffffff;
        background-color: #f89406;
      }
    }

    li.cart_footer {
      color: #0088cc;
      line-height: 20px;
      height: 20px;

      span.left75 {
        text-align: right;
        font-weight: bold;
      }
    }
  }
}
