// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#load_box_wrap {
  width: 380px;
  border: 1px solid $orange;
  display: none;
  background: $white;
  z-index: 9;

  #load_box {
    min-height: 300px;
    margin-bottom: 0px;
  }
}

/* store menu and store good */

@import "icons_dish_features/*.png";
@include all-icons_dish_features-sprites;
/* In html, add: class='icons_dish_features-dish_feature_chef' */

.store_menu_dish_wrap {
  @include background-image(linear-gradient($orange, $orange));

  a {display: block;color: $white;text-decoration: none;}
}

.index_img_wrap {
  h3 {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-left: -10px;
    color: $white;
    background: $orange;
    font-weight: bold;
    box-shadow: inset 0px 1px 2px $purple, 0px 1px 0px $white;

    @include rounded-corners(4px);
  }
}

.caption {
  height: 80px;
}