// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#load_box_wrap {
  width: 380px;
  border: 1px solid $orange;
  display: none;
  background: $white;
  z-index: 9;

  #load_box {
    min-height: 300px;
    margin-bottom: 0px;
  }
}

/* home index page */
#news_container {
  margin-top: 20px;

  ul {
    width:100%;

    li {
      width:100%;
      height: 90px;
    };
  }
}


/* store menu and store good */

@import "icons_dish_features/*.png";
@include all-icons_dish_features-sprites;
/* In html, add: class='icons_dish_features-dish_feature_chef' */

.store_menu_dish_wrap_open {
  background-color: $orange;

  a {display: block;color: $white;text-decoration: none;}
}

.store_menu_dish_wrap_closed {
  background-color: #333333;

  a {display: block;color: $white;text-decoration: none;}
}

.index_img_wrap {
  a {
    h4 {
      text-align: center;
      display: inline-block;
      width: 90%;
      padding:8px;
      margin:0px 0px 4px 0px;
      color: $white;
      background: $orange;
      font-weight: bold;
      box-shadow: inset 0px 1px 2px $purple, 0px 1px 0px $white;

      @include rounded-corners(4px);
    }
  }
}

.caption {
  height: 80px;
}


/* Restaurant Hub Page */
.hub {
  a.tag_name_toggle {
    margin-bottom: 15px;
  }

  a.label {
    font-size:10px;
    text-align: center;
  }
}

