
/* Body
-------------------------------------------------- */
body {padding-top: 60px;background: $black url(/assets/bg_v3_d.jpg) repeat;background-attachment:fixed;}
hr {border:1px solid $orange;}
h4 {color: $blue_mfm;}

.thumbnail {border: 1px solid $orange;background-color: $white;}
#main {min-height: 800px;}

/* Sites Navigation
-------------------------------------------------- */
#sites_nav {
  a {
    display:inline-block;
    width:40px;
    height:40px;
    margin-right: 2px;
  }
}

/* Navbar images - Add picture in the fixed-top nav bar
-------------------------------------------------- */
.navbar-fixed-top .nav li a img {
  width: 30px;
  height: 30px;
  float:left;
  margin:-3px 6px 0px -12px;
}

@import "icons_sites_nav/*.png";
@include all-icons_sites_nav-sprites;
/* In html, add: class='icons_sites_nav-amazon_40x40' */


/* Footer
-------------------------------------------------- */
#footer {

  .well {
    background-color: $grayLighter;
  }

  p {
    margin-bottom: 0;
    color: #777;
  }

  .footer-links {
    margin: 10px 0;

    li {
      display: inline;
      padding: 0 2px;
    }
    li:first-child {
      padding-left: 0;
    }
  }
}

/* Corner
-------------------------------------------------- */
#corner {

  .navbar {
    left: auto;
  }
}

/* Placeholder_polyfill
-------------------------------------------------- */
label.control-label {

  /* Let span.placeholder go with input */
  position: relative;

  span.placeholder {
    font-size: $fontSizeSmall;
  }
}




/* Fix row-fluid thumbnails issue
-------------------------------------------------- */
.row-fluid {
  ul.thumbnails {
    li.span12 + li { margin-left : 0px; }
    li.span6:nth-child(2n + 3) { margin-left : 0px; }
    li.span4:nth-child(3n + 4) { margin-left : 0px; }
    li.span3:nth-child(4n + 5) { margin-left : 0px; }
    li.span2:nth-child(6n + 7) { margin-left : 0px; }
    li.span1:nth-child(12n + 13) { margin-left : 0px; }
  }
}


/* Affix
-------------------------------------------------- */
.affix-top {}
.affix {top: 60px;}
.affix-bottom {position: absolute;top: auto;bottom: 100px;}
#side.affix {width: 270px;}
#side_map.affix {width: 350px;}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  // Original Span Spacing
  //#side.affix {width: 330px;}
  //#side_map.affix {width: 430px;}

  #side.affix {width: 340px;}
  #side_map.affix {width: 440px;}
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
  // Original Span Spacing
  //#side.affix {width: 260px;}
  //#side_map.affix {width: 340px;}

  #side.affix {width: 270px;}
  #side_map.affix {width: 350px;}
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  // Original Span Spacing
  //#side.affix {width: 190px;top: 20px;}
  //#side_map.affix {width: 250px;top: 20px;}

  #side.affix {width: 200px;top: 20px;}
  #side_map.affix {width: 260px;top: 20px;}

  body { padding-top: 0px;}
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  #side.affix {width: auto;margin-bottom: 20px;position: static;width: auto;top: 0;}
  #side_map.affix {width: auto;margin-bottom: 20px;position: static;width: auto;top: 0;}

  body { padding-top: 0px;}
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {

}
