<!DOCTYPE html>
<html>
<head>
  <title>Mfm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "mobile/application", :media => "all" %>
  <%= javascript_include_tag "mobile/application" %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon" href="images/launch_icon_57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="images/launch_icon_72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="images/launch_icon_114.png" />
</head>
<body>

<%= yield %>

</body>
</html>