<p><%= @resource.email %>, Welcome to meals4.me!</p>

<p>You can confirm your measl4.me account through the link below:</p>

<p><%= link_to 'Confirm my meals4.me account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
